html, body {
    margin: 0;
    padding: 0;
}

body
{
    font-family: Georgia, Serif;
    background-color: #F8CC8A;
    border-top: 1em solid #FFA100;
    border-bottom: 1em solid #FFA100;
}

/************ BASSIST ***********/
#bassist
{
    display: none;
}

ul#bassist-buttons
{
    list-style: none;
    margin: 0 auto;
    padding: 2em 0;
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bassist-button
{
    color: white;
    text-align: center;
    background-color: #018A8B;
    border-bottom: 10px solid #1D0B31;
    padding: 1.5em;
    margin: 1em 0;
    border-radius: 1em;
}

.bassist-button:hover
{
    background-color: #FFA100;
}

.bassist-button:active
{
    background-color: #15305D;
    border-top: 10px solid #15305D;
    border-bottom: 0px;
}

/************ DRUMMER ***********/
#drummer
{
    display: none;
}

ul#drummer-buttons
{
    display: block;
    list-style: none;
    margin: 0em;

    height: 100%;
    width: 100%;
}

.drummer-button
{
    background-color: #FFA100;
    border-bottom: 10px solid #1D0B31;
    
    width: 35%;
    height: 35%;

    color: white;
    text-align: center;
    border-radius: 1em;
}

.drummer-button:hover
{
    background-color: #F8CC8A;
}

.drummer-button p 
{
    margin: 0;
    padding:0;
    height: 100%;
    position: relative;
    top: 45%;
}

.drummer-button:active
{
    background-color: #1D0B31;
    border-top: 10px solid #1D0B31;
    border-bottom: 0px;
}

.drummer-button-0 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.drummer-button-1 {
    position: absolute;
    top: 10%;
    right: 10%;
}

.drummer-button-2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.drummer-button-3 {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

/************ SYNTH ***********/

#synth {
    display: none;
      background-image: url('../img/synth-bg.png');
}

#synth p{
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #018A8B;
    vertical-align: middle;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
    font-size: 2em;
    z-index: 2;
    pointer-events: none;
    padding: 0.5em;
}

#synth-input-pad {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
}

/************ FULLROOM ***********/

#fullroom {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #018A8B;
    color: white;
    text-align: center;
}

#fullroom p {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 2em;
}